<%- include('partials/header'); %>


    <div class="container">

        <div class="row" >
                
            <div class="center-it">
                <h1 class="head" style="text-align: center;">Movie Not Found ....</h1>
            
                <!-- <div style="width: 30%;margin: 25px auto;"> -->
                    <a href="/" class="btn btn-lg btn-primary btn block">Go Back</a>            
                    
            </div>
        </div>
    </div>



<%- include('partials/footer'); %>
